Package: kushidoutouch
Version: 1.1
Architecture: all
Maintainer: Kushidou <tangzhen1219@gmail.com>
Depends: xinput, python3, python3-pip, zenity
Section: x11
Priority: optional
Description: Fix touch-screen(s) for Linux X11.
