[Desktop Entry]
Version=1.0
Type=Application
GenericName=RemapatStart
GenericName[zh_CN]=开机屏幕自动映射
Name=RemapatStart
Name[zh_CN]=开机屏幕自动映射
Exec=/opt/kushidou-touchscreen/kscreen-remap 1
